<html>
    <head>
        <title>English Writing Feedback</title>
        <link rel="stylesheet" href="/static/writing_styles.css">
    </head>

    <body>
    <div class = "container">
        <form action = "/submit" method = "post">

            <h1>英作文添削</h1>

            <h2>トピック入力</h2>
            <textarea id = "topic" name = "topic"></textarea>

            <h2>エッセイ入力</h2>
            <textarea id = "essay" name = "essay"></textarea>
            <button id = "submit" type = "submit">
                Submit
            </button>
            <script src="/static/script.js"></script>
        </form>
    </div>
    </body>
</html>


